@import 'tailwindcss';

@layer components {
    .input-error {
        border-color: #fda4af !important;
        background-color: #fff1f2 !important;
        color: #be123c !important;
        outline: none !important;
    }

    .input-error:focus {
        border-color: #fb7185 !important;
        outline: none !important;
    }

    .input-success {
        border-color: #6ee7b7 !important;
        background-color: #ecfdf5 !important;
        color: #047857 !important;
        outline: none !important;
    }

    .input-success:focus {
        border-color: #34d399 !important;
        outline: none !important;
    }

    .input-predictive {
        padding-right: 2.5rem;
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 16px;
    }

    .input-predictive.is-loading {
        background-image: url("../images/loading.gif");
    }

    .popup-body {
        padding-bottom: 50px;
    }
}

@layer utilities {
    .text-slate-900 {
        color: rgb(0 31 100);
    }
}

@layer base {
    button {
        cursor: pointer;
    }
}

@layer utilities {
    .loading {
        opacity: 0.7;
        pointer-events: none;
    }

    .page-content-wrapper {
        overflow: auto;
    }
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
